<div style="display: flex;">
  <div style="background-color: #007ac3;color: white;height: 50px;font-size: 20px;padding: 12px;">
    <i class="fa fa-th" aria-hidden="true" (click)="showVerticalMenu()"></i>
  </div>
  <div style="height: 50px;background-color: #007ac3;width:90%;"></div>
  <div style="width: 23%;background-color: #85bc20; color: white;padding: 15px;height: 50px; font-size: 20px;">
      <span class="common-cch-name">
          CCH Axcess<span class="common-trade-mark">TM</span>&nbsp;&nbsp;&nbsp;&nbsp;{{lodedModule}}
      </span>
  </div>
</div>

