<div style="display: flex;">
  <div style="background-color: #007ac3;color: white;height: 50px;font-size: 20px;padding: 12px;">
    <div ngbDropdown class="d-inline-block" #menuDrpDwn="ngbDropdown">
        <span class="fa fa-th" id="dropdownNotification" ngbDropdownToggle></span>
        <div ngbDropdownMenu aria-labelledby="dropdownNotification">
          <span class="drop-down-item" ngbDropdownItem >
               <wk-common-vertical-menu-list [(menuList)]="menuList" (hideSideNavigation)="closeDropDown()"></wk-common-vertical-menu-list>  
          </span>
        </div>
      </div>
  </div>
  <div style="height: 50px;background-color: #007ac3;width:90%;"></div>
  <div style="width: 23%;background-color: #85bc20; color: white;padding: 15px;height: 50px; font-size: 20px;">
      <span class="common-cch-name">
          CCH Axcess<span class="common-trade-mark">TM</span>&nbsp;&nbsp;&nbsp;&nbsp;{{lodedModule}}
      </span>
  </div>
</div>

