.common-cch-name
{
  font-size: 20px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.common-trade-mark
{
  font-size: 13px;
  position: absolute;
}

.dropdown-toggle::after{
  content: none;
}

.dropdown-menu.show{
  top: -1.8vh !important;
    left: -1vw !important;
    width: calc(25vw);
    height: calc(91.5vh);
    transform: translate(0px, 0px) !important;
    position: absolute;
}

.dropdown-item{
  padding: 0px !important;
}