<div>
    <table class="table table-hover">
        <thead>
            <th>
                ID
            </th>
            <th>
                Office Name
            </th>
            <th>
                Edit
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="office in data">
                <td>{{office.id}}</td>
                <td>{{office.name}}</td>
                <td>
                    <a href="javascript:void(0);" ng-click="onEditClicked(office.id)">
                        <span class="commonglyphs commonglyphs-edit-paper"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>