<div class="client-manager-container">
    
    <div class="client-manager-menu-panel">
      <div class="row">
          <button type="button" class="btn btn-lg btn-primary primary-two-tone-button ml-auto">
              Create Client
              <span class="commonglyphs commonglyphs-plus"></span>
            </button>
      </div>
    </div>
    <div class="client-manager-header">
      Clients
    </div>
    <div class="client-manager-grid-area">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Client ID</th>
            <th>Client Sub ID</th>
            <th>Sort Name</th>
            <th>Client Sub Description</th>
            <th>Primary Client</th>
            <th>Office</th>
            <th>Business Unit</th>
            <th>Line of Business</th>
            <th>Client Type</th>
            <th>Status</th>
            <th>Class</th>
            <th>Year End</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr 
            *ngFor="let client of clients">
            <td>
              {{client.clientId}}
            </td>
            <td>
              {{client.clientSubId}}
            </td>
            <td>
              {{client.clientSortName}}
            </td>
            <td>
              {{client.clientSubDescription}}
            </td>
            <td>
              {{client.primaryClient}}
            </td>
            <td>
              {{client.office}}
            </td>
            <td>
              {{client.businessUnit}}
            </td>
            <td>
              {{client.lineOfBusiness}}
            </td>
            <td>
              {{client.ClientType}}
            </td>
            <td>
              {{client.status}}
            </td>
            <td>
              {{client.class}}
            </td>
            <td>
              {{client.yearEnd}}
            </td>
            <td>
              <span class="text-danger commonglyphs commonglyphs-delete" (click)="onDelete(client.clientId)"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



 

    