<div class="tax-manager-container">
    <div class="tax-manager-menu-panel">
      <div class="row">
          <button type="button" class="btn btn-lg btn-primary primary-two-tone-button ml-auto">
              Create Return
              <span class="commonglyphs commonglyphs-plus"></span>
            </button>
      </div>
    </div>
    <div class="tax-manager-header">
        Returns
    </div>
    <div class="tax-manager-grid-area">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Client ID</th>
            <th>Tax Year</th>
            <th>Name</th>
            <th>Return ID</th>
            <th>Return Type</th>
            <th>Return Group</th>
            <th>Return Configuration</th>
            <th>Return Status</th>
            <th>Signer</th>
            <th>Last Activity</th>
            <th>Federal E-File Status</th>
            <th>Office</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let return of returns ">
            <td>
              {{return.clientId}}
            </td>
            <td>
              {{return.taxYear}}
            </td>
            <td>
              {{return.name}}
            </td>
            <td>
              {{return.returnId}}
            </td>
            <td>
              {{return.returnType}}
            </td>
            <td>
              {{return.returnGroup}}
            </td>
            <td>
              {{return.returnConfiguration}}
            </td>
            <td>
              {{return.returnStatus}}
            </td>
            <td>
              {{return.signer}}
            </td>
            <td>
              {{return.lastAtivity}}
            </td>
            <td>
              {{return.federalEFileStatus}}
            </td>
            <td>
              {{return.office}}
            </td>
            <td>
                <span class="text-danger commonglyphs commonglyphs-delete" (click)="onDelete(return.returnId)"></span>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
