<div class="common-header-section" *ngIf="isUserLoggedIn">
      <wk-common-logo-bar [loggedInUser]="loggedInUser" (onLogOutUser)="logOutUser()"></wk-common-logo-bar>
      <wk-common-nav-bar (showSideNavigation)="isVMenuExpanded = true"></wk-common-nav-bar>
</div>

<div class="row common-content-section">
       <div class="common-vertical-menu" *ngIf="isUserLoggedIn && isVMenuExpanded">
               <wk-common-vertical-menu-list [(menuList)]="menuList" (hideSideNavigation)="isVMenuExpanded = false" (changeBreadcrumb)="onBreadCrumbChange($event)"></wk-common-vertical-menu-list>
         </div>
         <div id="content" [ngClass]="{'page-content-Expanded':!isVMenuExpanded,'page-content-collpased':isVMenuExpanded}" #content>
               <!-- <client-manager (onClientDeleted)="onClientDeleted($event)"></client-manager>
               <login-manager (onSignInSubmit)="onSignInSubmit($event)"></login-manager>
               <document-manager (onDocumentDeleted)="onDocumentDeleted($event)"></document-manager>
               <tax-manager (onReturnDeleted)="onReturnDeleted($event)"></tax-manager> -->
         </div> 
 
</div>