.common-vertical-menu{
    height: 91%;
    position: fixed;
    width: 25%;
    left: 0;
    margin-top: 9vh;
    z-index: 10;
    box-shadow: 10px 7px 28px -21px black;
  }
  
  .common-header-section{
    height: 10%;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 10;
  }
  
  .common-content-section{
    width: 75%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .common-shell-breadcrumb{
      height: 42.175px;
      border-bottom: 1px solid lightgray;
      font-weight: 800;
      padding: 1.4vh;
  }

  #content{
    margin-top: 20vh;
    width: 100%;
    font-size: 14px;
  }

  .common-loader-spinner{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 3vh;
  }